* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 10px;
      background: url('https://i.imgur.com/vf3IjDc.jpg')fixed;
}
legend{
  text-align: center;
  font-size: 15px;
}

.topbar {
  max-width: 800px;
  margin-top: 20px;
  font-size: 12px;
  padding-bottom: 30px;
  font-weight: bold;
  color: #375c77;
}

h1, h2 {
  text-align: center;
  font-weight: bold;
  color: #424b54;
}

h2 {
  text-align: center;
  font-size: 20px;
  color: #444444;
}

.selected{
  cursor: pointer;
  transition: all 0.3s ease;
  background: rgb(161, 209, 161);
}
.selected:hover, .sekected:focus {
    background-color: #363946;
    color: #0086bb
}

.score{
  display:none;
}


button {
  width: 300px;
  height: 40px;
  background: #d4f4dd;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #424b54;
  border: 2px solid #d4f4dd;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submit-button{
  display:none;
}

.next-button{
  display:none;
}

.retry-button{
  display:none;
}

button:hover, button:focus {
    background-color: #363946;
    color: #0086bb
}

.questions{
  text-align: center;
}


.submit, next-button{
  text-align:center;
}



.start-page {
  width: 500px;
  height: 300px;
  margin: 10px auto;
  text-align: center;
  padding-bottom: 200px;
  color: #d65a5a;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border: 1px solid #808080;
  width: 300px;
  margin: 5px auto;
  font-size: 18px;
  padding: 5px;
}

fieldset {
  box-sizing: border-box;
  padding-top: 50px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  border: none;
}

.correct {
  
  background-color: rgb(48, 216, 48);
}

.incorrect {
  background-color: red;
}


.end-quiz {
  text-align:center;
  padding-top: 80px;
  height: 100px;
  font-size: 50px;
  font-weight: bold;
  color: rgb(61, 134, 106);
}

@media screen and (min-width: 300px) {
  .topbar {
    width: 50%;
    margin: auto;
    padding-top: 30px;
    font-size: 20px;
  }

}

@media screen and (min-width: 600px) {
  .topbar {
    width: 80%;
    font-size: 40px;
    margin: 0 auto;
  }

@media screen and (min-width: 900px) {
  .topbar {
    font-size: 60px;
    font-weight: bold;
    margin: 0 auto;
  }
}